@include xliv-screen {
    .grid .g-col-xliv-1 {
        grid-column: auto/span 1;
    }

    .grid .g-col-xliv-2 {
        grid-column: auto/span 2;
    }

    .grid .g-col-xliv-3 {
        grid-column: auto/span 3;
    }

    .grid .g-col-xliv-4 {
        grid-column: auto/span 4;
    }

    .grid .g-col-xliv-5 {
        grid-column: auto/span 5;
    }

    .grid .g-col-xliv-6 {
        grid-column: auto/span 6;
    }

    .grid .g-col-xliv-7 {
        grid-column: auto/span 7;
    }

    .grid .g-col-xliv-8 {
        grid-column: auto/span 8;
    }

    .grid .g-col-xliv-9 {
        grid-column: auto/span 9;
    }

    .grid .g-col-xliv-10 {
        grid-column: auto/span 10;
    }

    .grid .g-col-xliv-11 {
        grid-column: auto/span 11;
    }

    .grid .g-col-xliv-12 {
        grid-column: auto/span 12;
    }

    .grid .g-start-xliv-1 {
        grid-column-start: 1;
    }

    .grid .g-start-xliv-2 {
        grid-column-start: 2;
    }

    .grid .g-start-xliv-3 {
        grid-column-start: 3;
    }

    .grid .g-start-xliv-4 {
        grid-column-start: 4;
    }

    .grid .g-start-xliv-5 {
        grid-column-start: 5;
    }

    .grid .g-start-xliv-6 {
        grid-column-start: 6;
    }

    .grid .g-start-xliv-7 {
        grid-column-start: 7;
    }

    .grid .g-start-xliv-8 {
        grid-column-start: 8;
    }

    .grid .g-start-xliv-9 {
        grid-column-start: 9;
    }

    .grid .g-start-xliv-10 {
        grid-column-start: 10;
    }

    .grid .g-start-xliv-11 {
        grid-column-start: 11;
    }
}

@include xxl-screen {
    .grid .g-col-exl-1 {
        grid-column: auto/span 1;
    }

    .grid .g-col-exl-2 {
        grid-column: auto/span 2;
    }

    .grid .g-col-exl-3 {
        grid-column: auto/span 3;
    }

    .grid .g-col-exl-4 {
        grid-column: auto/span 4;
    }

    .grid .g-col-exl-5 {
        grid-column: auto/span 5;
    }

    .grid .g-col-exl-6 {
        grid-column: auto/span 6;
    }

    .grid .g-col-exl-7 {
        grid-column: auto/span 7;
    }

    .grid .g-col-exl-8 {
        grid-column: auto/span 8;
    }

    .grid .g-col-exl-9 {
        grid-column: auto/span 9;
    }

    .grid .g-col-exl-10 {
        grid-column: auto/span 10;
    }

    .grid .g-col-exl-11 {
        grid-column: auto/span 11;
    }

    .grid .g-col-exl-12 {
        grid-column: auto/span 12;
    }

    .grid .g-start-exl-1 {
        grid-column-start: 1;
    }

    .grid .g-start-exl-2 {
        grid-column-start: 2;
    }

    .grid .g-start-exl-3 {
        grid-column-start: 3;
    }

    .grid .g-start-exl-4 {
        grid-column-start: 4;
    }

    .grid .g-start-exl-5 {
        grid-column-start: 5;
    }

    .grid .g-start-exl-6 {
        grid-column-start: 6;
    }

    .grid .g-start-exl-7 {
        grid-column-start: 7;
    }

    .grid .g-start-exl-8 {
        grid-column-start: 8;
    }

    .grid .g-start-exl-9 {
        grid-column-start: 9;
    }

    .grid .g-start-exl-10 {
        grid-column-start: 10;
    }

    .grid .g-start-exl-11 {
        grid-column-start: 11;
    }
}