<div class="category section--sm pb-0">
  <div class="container custom--container">
    <div class="row">
      <div class="col-12">
        <div class="category__slider">
          <div class="category__slider-item">
            <a href="#" class="category__link">
              <span class="category__text">Art & Gallery</span>
              <img
                src="assets/images/cate-img-1.jpg"
                alt="image"
                class="category__img"
              />
            </a>
          </div>
          <div class="category__slider-item">
            <a href="#" class="category__link">
              <span class="category__text">Countryside</span>
              <img
                src="assets/images/cate-img-2.jpg"
                alt="image"
                class="category__img"
              />
            </a>
          </div>
          <div class="category__slider-item">
            <a href="#" class="category__link">
              <span class="category__text">Environment</span>
              <img
                src="assets/images/cate-img-3.jpg"
                alt="image"
                class="category__img"
              />
            </a>
          </div>
          <div class="category__slider-item">
            <a href="#" class="category__link">
              <span class="category__text">Grass</span>
              <img
                src="assets/images/cate-img-4.jpg"
                alt="image"
                class="category__img"
              />
            </a>
          </div>
          <div class="category__slider-item">
            <a href="#" class="category__link">
              <span class="category__text">Lake</span>
              <img
                src="assets/images/cate-img-5.jpg"
                alt="image"
                class="category__img"
              />
            </a>
          </div>
          <div class="category__slider-item">
            <a href="#" class="category__link">
              <span class="category__text">Landscape</span>
              <img
                src="assets/images/cate-img-6.jpg"
                alt="image"
                class="category__img"
              />
            </a>
          </div>
          <div class="category__slider-item">
            <a href="#" class="category__link">
              <span class="category__text">Mountains</span>
              <img
                src="assets/images/cate-img-7.jpg"
                alt="image"
                class="category__img"
              />
            </a>
          </div>
          <div class="category__slider-item">
            <a href="#" class="category__link">
              <span class="category__text">Outdoors</span>
              <img
                src="assets/images/cate-img-8.jpg"
                alt="image"
                class="category__img"
              />
            </a>
          </div>
          <div class="category__slider-item">
            <a href="#" class="category__link">
              <span class="category__text">Reflection</span>
              <img
                src="assets/images/cate-img-1.jpg"
                alt="image"
                class="category__img"
              />
            </a>
          </div>
          <div class="category__slider-item">
            <a href="#" class="category__link">
              <span class="category__text">Travel</span>
              <img
                src="assets/images/cate-img-9.jpg"
                alt="image"
                class="category__img"
              />
            </a>
          </div>
          <div class="category__slider-item">
            <a href="#" class="category__link">
              <span class="category__text">Summer</span>
              <img
                src="assets/images/cate-img-10.jpg"
                alt="image"
                class="category__img"
              />
            </a>
          </div>
          <div class="category__slider-item">
            <a href="#" class="category__link">
              <span class="category__text">Landscape</span>
              <img
                src="assets/images/cate-img-6.jpg"
                alt="image"
                class="category__img"
              />
            </a>
          </div>
          <div class="category__slider-item">
            <a href="#" class="category__link">
              <span class="category__text">Mountains</span>
              <img
                src="assets/images/cate-img-7.jpg"
                alt="image"
                class="category__img"
              />
            </a>
          </div>
          <div class="category__slider-item">
            <a href="#" class="category__link">
              <span class="category__text">Outdoors</span>
              <img
                src="assets/images/cate-img-8.jpg"
                alt="image"
                class="category__img"
              />
            </a>
          </div>
          <div class="category__slider-item">
            <a href="#" class="category__link">
              <span class="category__text">Reflection</span>
              <img
                src="assets/images/cate-img-1.jpg"
                alt="image"
                class="category__img"
              />
            </a>
          </div>
          <div class="category__slider-item">
            <a href="#" class="category__link">
              <span class="category__text">Travel</span>
              <img
                src="assets/images/cate-img-9.jpg"
                alt="image"
                class="category__img"
              />
            </a>
          </div>
          <div class="category__slider-item">
            <a href="#" class="category__link">
              <span class="category__text">Summer</span>
              <img
                src="assets/images/cate-img-10.jpg"
                alt="image"
                class="category__img"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
