<div class="section">
  <div class="container">
    <div class="row g-4 justify-content-center">
      <div class="col-12">
        <h2 class="section__title mb-0">Popular Collection</h2>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="collection">
          <div class="collection__group">
            <ul class="collection__list">
              <li>
                <a href="#" class="collection__link">
                  <img
                    src="assets/images/img-8.jpg"
                    alt="image"
                    class="collection__img"
                  />
                </a>
              </li>
              <li>
                <a href="#" class="collection__link">
                  <img
                    src="assets/images/img-9.jpg"
                    alt="image"
                    class="collection__img"
                  />
                </a>
              </li>
              <li>
                <a href="#" class="collection__link">
                  <img
                    src="assets/images/img-10.jpg"
                    alt="image"
                    class="collection__img"
                  />
                </a>
              </li>
            </ul>
          </div>
          <h4 class="collection__title">Underwater</h4>
          <p class="collection__subtitle">120 Photos - Created by Thor</p>
          <ul class="list list--row flex-wrap" style="--gap: 5px">
            <li>
              <button class="btn btn--tag">Batch</button>
            </li>
            <li>
              <button class="btn btn--tag">Breakfast</button>
            </li>
            <li>
              <button class="btn btn--tag">Cooking</button>
            </li>
            <li>
              <button class="btn btn--tag">Dry</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="collection">
          <div class="collection__group">
            <ul class="collection__list">
              <li>
                <a href="#" class="collection__link">
                  <img
                    src="assets/images/img-11.jpg"
                    alt="image"
                    class="collection__img"
                  />
                </a>
              </li>
              <li>
                <a href="#" class="collection__link">
                  <img
                    src="assets/images/img-12.jpg"
                    alt="image"
                    class="collection__img"
                  />
                </a>
              </li>
              <li>
                <a href="#" class="collection__link">
                  <img
                    src="assets/images/img-13.jpg"
                    alt="image"
                    class="collection__img"
                  />
                </a>
              </li>
            </ul>
          </div>
          <h4 class="collection__title">facebook covers</h4>
          <p class="collection__subtitle">560 Photos - Created by Tom Cook</p>
          <ul class="list list--row flex-wrap" style="--gap: 5px">
            <li>
              <button class="btn btn--tag">Batch</button>
            </li>
            <li>
              <button class="btn btn--tag">Breakfast</button>
            </li>
            <li>
              <button class="btn btn--tag">Cooking</button>
            </li>
            <li>
              <button class="btn btn--tag">Dry</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="collection">
          <div class="collection__group">
            <ul class="collection__list">
              <li>
                <a href="#" class="collection__link">
                  <img
                    src="assets/images/img-14.jpg"
                    alt="image"
                    class="collection__img"
                  />
                </a>
              </li>
              <li>
                <a href="#" class="collection__link">
                  <img
                    src="assets/images/img-15.jpg"
                    alt="image"
                    class="collection__img"
                  />
                </a>
              </li>
              <li>
                <a href="#" class="collection__link">
                  <img
                    src="assets/images/img-16.jpg"
                    alt="image"
                    class="collection__img"
                  />
                </a>
              </li>
            </ul>
          </div>
          <h4 class="collection__title">facebook covers</h4>
          <p class="collection__subtitle">560 Photos - Created by Tom Cook</p>
          <ul class="list list--row flex-wrap" style="--gap: 5px">
            <li>
              <button class="btn btn--tag">Batch</button>
            </li>
            <li>
              <button class="btn btn--tag">Breakfast</button>
            </li>
            <li>
              <button class="btn btn--tag">Cooking</button>
            </li>
            <li>
              <button class="btn btn--tag">Dry</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="collection">
          <div class="collection__group">
            <ul class="collection__list">
              <li>
                <a href="#" class="collection__link">
                  <img
                    src="assets/images/img-17.jpg"
                    alt="image"
                    class="collection__img"
                  />
                </a>
              </li>
              <li>
                <a href="#" class="collection__link">
                  <img
                    src="assets/images/img-18.jpg"
                    alt="image"
                    class="collection__img"
                  />
                </a>
              </li>
              <li>
                <a href="#" class="collection__link">
                  <img
                    src="assets/images/img-19.jpg"
                    alt="image"
                    class="collection__img"
                  />
                </a>
              </li>
            </ul>
          </div>
          <h4 class="collection__title">facebook covers</h4>
          <p class="collection__subtitle">560 Photos - Created by Tom Cook</p>
          <ul class="list list--row flex-wrap" style="--gap: 5px">
            <li>
              <button class="btn btn--tag">Batch</button>
            </li>
            <li>
              <button class="btn btn--tag">Breakfast</button>
            </li>
            <li>
              <button class="btn btn--tag">Cooking</button>
            </li>
            <li>
              <button class="btn btn--tag">Dry</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
