<div class="section--sm section--bottom">
  <div class="section__head">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-xl-5 col-xxl-6">
          <h2 class="section__title text-center">
            <span>Top Contributor</span> of the Month
          </h2>
          <p class="mb-0 text-center sm-text section__para mx-auto">
            Whether you’re looking for designs or photographs, you’ll find the
            perfect asset on Stoclab.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row g-4 g-md-3">
      <div class="col-md-3">
        <div class="contributor">
            <div class="contributor__head" style="background-image: url('assets/images/img-10.jpg');">
                <img src="assets/images/user-1.jpg" alt="image" class="contributor__img">
            </div>
            <div class="contributor__body">
                <h6 class="contributor__name">Peter Parker</h6>
                <span class="contributor__contributons">75840 Resources</span>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="contributor">
            <div class="contributor__head" style="background-image: url('assets/images/img-11.jpg');">
                <img src="assets/images/user-2.jpg" alt="image" class="contributor__img">
            </div>
            <div class="contributor__body">
                <h6 class="contributor__name">Peter Parker</h6>
                <span class="contributor__contributons">75840 Resources</span>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="contributor">
            <div class="contributor__head" style="background-image: url('assets/images/img-9.jpg');">
                <img src="assets/images/user-3.jpg" alt="image" class="contributor__img">
            </div>
            <div class="contributor__body">
                <h6 class="contributor__name">Peter Parker</h6>
                <span class="contributor__contributons">75840 Resources</span>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="contributor">
            <div class="contributor__head" style="background-image: url('assets/images/img-8.jpg');">
                <img src="assets/images/user-4.jpg" alt="image" class="contributor__img">
            </div>
            <div class="contributor__body">
                <h6 class="contributor__name">Peter Parker</h6>
                <span class="contributor__contributons">75840 Resources</span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
