<div class="section--sm">
  <div class="cta-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section--xl">
            <div class="row justify-content-center">
              <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="cta">
                  <h2 class="cta__title text-md-center">
                    Sign up to download free weekly stock images
                  </h2>
                  <p class="cta__text text-md-center">
                    Ready for a world of free vectors, photos and video from
                    amazing artists all over the world? Sign up free today.
                  </p>
                  <div class="text-md-center">
                    <button class="base-btn">Sign Up Free</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
