

<!-- Footer  -->
<footer class="footer">
  <div class="section">
    <div class="container">
      <div class="row g-4 justify-content-xl-between">
        <div class="col-md-6 col-lg-3">
          <h4 class="mt-0 text--base">About Us</h4>
          <p class="text--white">
            Maecenas tempus tellus egondime honcus sequam seitmet dipiscing
            sem eque sedipsuNam quam
          </p>
          <ul class="list list--row">
            <li class="list--row__item">
              <a
                href="#"
                class="t-link t-link--accent icon icon--sm icon--circle bg--base text--accent"
              >
                <i class="lab la-facebook-f"></i>
              </a>
            </li>
            <li class="list--row__item">
              <a
                href="#"
                class="t-link t-link--accent icon icon--sm icon--circle bg--base text--accent"
              >
                <i class="lab la-twitter"></i>
              </a>
            </li>
            <li class="list--row__item">
              <a
                href="#"
                class="t-link t-link--accent icon icon--sm icon--circle bg--base text--accent"
              >
                <i class="lab la-linkedin-in"></i>
              </a>
            </li>
            <li class="list--row__item">
              <a
                href="#"
                class="t-link t-link--accent icon icon--sm icon--circle bg--base text--accent"
              >
                <i class="lab la-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-2">
          <h4 class="mt-0 text--base">Services</h4>
          <ul class="list list--column">
            <li class="list--column__item">
              <a
                href="#"
                class="t-link t-link--base text--white d-inline-block"
              >
                About Us
              </a>
            </li>
            <li class="list--column__item">
              <a
                href="#"
                class="t-link t-link--base text--white d-inline-block"
              >
                FAQ
              </a>
            </li>
            <li class="list--column__item">
              <a
                href="#"
                class="t-link t-link--base text--white d-inline-block"
              >
                Marketing Tool
              </a>
            </li>
            <li class="list--column__item">
              <a
                href="#"
                class="t-link t-link--base text--white d-inline-block"
              >
                Blog
              </a>
            </li>
            <li class="list--column__item">
              <a
                href="#"
                class="t-link t-link--base text--white d-inline-block"
              >
                Contact
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-2">
          <h4 class="mt-0 text--base">Quick Links</h4>
          <ul class="list list--column">
            <li class="list--column__item">
              <a
                href="#"
                class="t-link t-link--base text--white d-inline-block"
              >
                About Us
              </a>
            </li>
            <li class="list--column__item">
              <a
                href="#"
                class="t-link t-link--base text--white d-inline-block"
              >
                FAQ
              </a>
            </li>
            <li class="list--column__item">
              <a
                href="#"
                class="t-link t-link--base text--white d-inline-block"
              >
                Marketing Tool
              </a>
            </li>
            <li class="list--column__item">
              <a
                href="#"
                class="t-link t-link--base text--white d-inline-block"
              >
                Blog
              </a>
            </li>
            <li class="list--column__item">
              <a
                href="#"
                class="t-link t-link--base text--white d-inline-block"
              >
                Contact
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-4">
          <h4 class="mt-0 text--base">Newsletter</h4>
          <p class="text--white">
            Maecenas tempus tellus egondime honcus sequam seitmet dipiscing
            sem eque sedipsuNam quam
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copyright py-3">
    <p class="mb-0 sm-text text--white text-center">
      Copyright © 2022. All Rights Reserved By
      <a href="#" class="t-link t-link--base text--base">Asaduzzaman</a>
    </p>
  </div>
</footer>
<!-- Footer End -->