<div class="header-top">
  <div class="container custom--container">
    <div class="header-top__content">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarToggle"
          aria-expanded="false"
        >
          <span class="menu-toggle"></span>
        </button>
      </nav>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="nav-container">
          <!-- Primary Menu  -->
          <ul class="list primary-menu">
            <li class="nav-item">
              <a href="index.html" class="primary-menu__link"> Home </a>
            </li>
            <li class="nav-item">
              <a href="about.html" class="primary-menu__link">About</a>
            </li>
            <li class="nav-item">
              <a href="plan.html" class="primary-menu__link">Plan</a>
            </li>
            <li class="nav-item">
              <a href="faq.html" class="primary-menu__link">FAQ</a>
            </li>
            <li class="nav-item has-sub">
              <a href="#" class="primary-menu__link">Pages</a>
              <ul class="primary-menu__sub">
                <li>
                  <a href="dashboard.html" class="t-link primary-menu__sub-link"
                    >User Dashboard</a
                  >
                </li>
                <li>
                  <a href="privacy.html" class="t-link primary-menu__sub-link"
                    >Privacy Policy</a
                  >
                </li>
                <li>
                  <a href="terms.html" class="t-link primary-menu__sub-link"
                    >Terms & Condition</a
                  >
                </li>
                <li>
                  <a href="sign-in.html" class="t-link primary-menu__sub-link"
                    >Sign In</a
                  >
                </li>
                <li>
                  <a href="sign-up.html" class="t-link primary-menu__sub-link"
                    >Sign Up</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item has-sub">
              <a href="#" class="primary-menu__link">Blog</a>
              <ul class="primary-menu__sub">
                <li>
                  <a href="blog.html" class="t-link primary-menu__sub-link"
                    >Blog</a
                  >
                </li>
                <li>
                  <a
                    href="blog-details.html"
                    class="t-link primary-menu__sub-link"
                    >Blog details</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="contact.html" class="primary-menu__link">Contact</a>
            </li>
            <li class="nav-item ms-lg-auto">
              <a href="#" class="primary-menu__link">Login</a>
            </li>
            <li class="nav-item">
              <a href="#" class="signup-btn my-2 ms-3 ms-lg-0">Sign Up</a>
            </li>
          </ul>
          <!-- Primary Menu End -->
        </div>
      </div>
    </div>
  </div>
</div>
