<!-- Hero  -->
<section class="hero">
  <div class="container custom--container">
    <div class="row">
      <div class="col-12">
        <div class="hero__container">
          <div class="hero__content mx-auto">
            <h1 class="hero__content-title text-center text--white">
              Digital downloads for everyone
            </h1>
            <div class="search-bar">
              <div class="search-bar__icon">
                <i class="las la-search"></i>
              </div>
              <input type="text" class="form-control form--control search-bar__input" placeholder="Search anything..">
            </div>
            <ul class="list list--row flex-wrap justify-content-center" style="--gap: 5px;">
              <li>
                <a href="#" class="search-tag">
                  <span class="search-tag__icon">
                    <i class="las la-search"></i>
                  </span>
                  <span class="search-tag__text">App</span>
                </a>
              </li>
              <li>
                <a href="#" class="search-tag">
                  <span class="search-tag__icon">
                    <i class="las la-search"></i>
                  </span>
                  <span class="search-tag__text">Nature</span>
                </a>
              </li>
              <li>
                <a href="#" class="search-tag">
                  <span class="search-tag__icon">
                    <i class="las la-search"></i>
                  </span>
                  <span class="search-tag__text">BG</span>
                </a>
              </li>
              <li>
                <a href="#" class="search-tag">
                  <span class="search-tag__icon">
                    <i class="las la-search"></i>
                  </span>
                  <span class="search-tag__text">light</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="hero__image">
            <img src="assets/images/hero.png" alt="image" class="hero__image-is">
          </div>
          <div class="hero__image-left">
            <img src="assets/images/hero-alt.png" alt="image" class="hero__image-is">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero End -->
