<div class="section--sm section--bottom">
  <div class="container custom--container">
    <div class="row g-4">
      <div class="col-12">
        <h2 class="section__title mb-0">Latest Photo</h2>
      </div>
      <div class="col-12">
        <ul class="list list--row flex-wrap gallery">
          <li>
            <a href="#" class="gallery__link">
              <img
                src="assets/images/img-1.jpg"
                alt="image"
                class="gallery__img"
              />
              <span class="gallery__premium">
                <i class="las la-crown"></i>
              </span>
              <figcaption class="gallery__content">
                <span class="gallery__title">
                  Beautiful vintage collage composition
                </span>
                <span class="gallery__footer">
                  <span class="gallery__author">
                    <span class="gallery__user">
                      <img
                        src="assets/images/user-1.jpg"
                        alt="image"
                        class="gallery__user-img"
                      />
                    </span>
                    <span class="gallery__user-name">Asaduzzaman</span>
                  </span>
                  <span class="gallery__like">
                    <span class="gallery__like-icon">
                      <i class="fas fa-heart"></i>
                    </span>
                    <span class="gallery__like-num">215</span>
                  </span>
                </span>
              </figcaption>
            </a>

            <div class="gallery__share">
              <div class="list gallery__list">
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Like"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="lar la-heart"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Collect"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-plus"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Share"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-share"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="gallery__link">
              <img
                src="assets/images/img-2.jpg"
                alt="image"
                class="gallery__img"
              />
              <span class="gallery__premium">
                <i class="las la-crown"></i>
              </span>
              <figcaption class="gallery__content">
                <span class="gallery__title">
                  Beautiful vintage collage composition
                </span>
                <span class="gallery__footer">
                  <span class="gallery__author">
                    <span class="gallery__user">
                      <img
                        src="assets/images/user-1.jpg"
                        alt="image"
                        class="gallery__user-img"
                      />
                    </span>
                    <span class="gallery__user-name">Asaduzzaman</span>
                  </span>
                  <span class="gallery__like">
                    <span class="gallery__like-icon">
                      <i class="fas fa-heart"></i>
                    </span>
                    <span class="gallery__like-num">215</span>
                  </span>
                </span>
              </figcaption>
            </a>
            <div class="gallery__share">
              <div class="list gallery__list">
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Like"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="lar la-heart"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Collect"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-plus"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Share"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-share"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="gallery__link">
              <img
                src="assets/images/img-3.jpg"
                alt="image"
                class="gallery__img"
              />
              <span class="gallery__premium">
                <i class="las la-crown"></i>
              </span>
              <figcaption class="gallery__content">
                <span class="gallery__title">
                  Beautiful vintage collage composition
                </span>
                <span class="gallery__footer">
                  <span class="gallery__author">
                    <span class="gallery__user">
                      <img
                        src="assets/images/user-2.jpg"
                        alt="image"
                        class="gallery__user-img"
                      />
                    </span>
                    <span class="gallery__user-name">Asad</span>
                  </span>
                  <span class="gallery__like">
                    <span class="gallery__like-icon">
                      <i class="fas fa-heart"></i>
                    </span>
                    <span class="gallery__like-num">215</span>
                  </span>
                </span>
              </figcaption>
            </a>
            <div class="gallery__share">
              <div class="list gallery__list">
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Like"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="lar la-heart"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Collect"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-plus"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Share"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-share"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="gallery__link">
              <img
                src="assets/images/img-4.jpg"
                alt="image"
                class="gallery__img"
              />
              <figcaption class="gallery__content">
                <span class="gallery__title">
                  Beautiful vintage collage composition
                </span>
                <span class="gallery__footer">
                  <span class="gallery__author">
                    <span class="gallery__user">
                      <img
                        src="assets/images/user-3.jpg"
                        alt="image"
                        class="gallery__user-img"
                      />
                    </span>
                    <span class="gallery__user-name">Asaduzzaman</span>
                  </span>
                  <span class="gallery__like">
                    <span class="gallery__like-icon">
                      <i class="fas fa-heart"></i>
                    </span>
                    <span class="gallery__like-num">215</span>
                  </span>
                </span>
              </figcaption>
            </a>
            <div class="gallery__share">
              <div class="list gallery__list">
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Like"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="lar la-heart"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Collect"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-plus"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Share"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-share"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="gallery__link">
              <img
                src="assets/images/img-5.jpg"
                alt="image"
                class="gallery__img"
              />
              <figcaption class="gallery__content">
                <span class="gallery__title">
                  Beautiful vintage collage composition
                </span>
                <span class="gallery__footer">
                  <span class="gallery__author">
                    <span class="gallery__user">
                      <img
                        src="assets/images/user-1.jpg"
                        alt="image"
                        class="gallery__user-img"
                      />
                    </span>
                    <span class="gallery__user-name">Asad</span>
                  </span>
                  <span class="gallery__like">
                    <span class="gallery__like-icon">
                      <i class="fas fa-heart"></i>
                    </span>
                    <span class="gallery__like-num">215</span>
                  </span>
                </span>
              </figcaption>
            </a>
            <div class="gallery__share">
              <div class="list gallery__list">
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Like"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="lar la-heart"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Collect"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-plus"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Share"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-share"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="gallery__link">
              <img
                src="assets/images/img-6.jpg"
                alt="image"
                class="gallery__img"
              />
              <span class="gallery__premium">
                <i class="las la-crown"></i>
              </span>
              <figcaption class="gallery__content">
                <span class="gallery__title">
                  Beautiful vintage collage composition
                </span>
                <span class="gallery__footer">
                  <span class="gallery__author">
                    <span class="gallery__user">
                      <img
                        src="assets/images/user-2.jpg"
                        alt="image"
                        class="gallery__user-img"
                      />
                    </span>
                    <span class="gallery__user-name">uiux</span>
                  </span>
                  <span class="gallery__like">
                    <span class="gallery__like-icon">
                      <i class="fas fa-heart"></i>
                    </span>
                    <span class="gallery__like-num">215</span>
                  </span>
                </span>
              </figcaption>
            </a>
            <div class="gallery__share">
              <div class="list gallery__list">
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Like"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="lar la-heart"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Collect"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-plus"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Share"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-share"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="gallery__link">
              <img
                src="assets/images/img-7.jpg"
                alt="image"
                class="gallery__img"
              />
              <figcaption class="gallery__content">
                <span class="gallery__title">
                  Beautiful vintage collage composition
                </span>
                <span class="gallery__footer">
                  <span class="gallery__author">
                    <span class="gallery__user">
                      <img
                        src="assets/images/user-2.jpg"
                        alt="image"
                        class="gallery__user-img"
                      />
                    </span>
                    <span class="gallery__user-name">Jhon</span>
                  </span>
                  <span class="gallery__like">
                    <span class="gallery__like-icon">
                      <i class="fas fa-heart"></i>
                    </span>
                    <span class="gallery__like-num">215</span>
                  </span>
                </span>
              </figcaption>
            </a>
            <div class="gallery__share">
              <div class="list gallery__list">
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Like"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="lar la-heart"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Collect"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-plus"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Share"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-share"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="gallery__link">
              <img
                src="assets/images/img-8.jpg"
                alt="image"
                class="gallery__img"
              />
              <span class="gallery__premium">
                <i class="las la-crown"></i>
              </span>
              <figcaption class="gallery__content">
                <span class="gallery__title">
                  Beautiful vintage collage composition
                </span>
                <span class="gallery__footer">
                  <span class="gallery__author">
                    <span class="gallery__user">
                      <img
                        src="assets/images/user-1.jpg"
                        alt="image"
                        class="gallery__user-img"
                      />
                    </span>
                    <span class="gallery__user-name">lallsobuz</span>
                  </span>
                  <span class="gallery__like">
                    <span class="gallery__like-icon">
                      <i class="fas fa-heart"></i>
                    </span>
                    <span class="gallery__like-num">215</span>
                  </span>
                </span>
              </figcaption>
            </a>
            <div class="gallery__share">
              <div class="list gallery__list">
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Like"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="lar la-heart"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Collect"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-plus"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Share"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-share"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="gallery__link">
              <img
                src="assets/images/img-9.jpg"
                alt="image"
                class="gallery__img"
              />
              <figcaption class="gallery__content">
                <span class="gallery__title">
                  Beautiful vintage collage composition
                </span>
                <span class="gallery__footer">
                  <span class="gallery__author">
                    <span class="gallery__user">
                      <img
                        src="assets/images/user-1.jpg"
                        alt="image"
                        class="gallery__user-img"
                      />
                    </span>
                    <span class="gallery__user-name">Group</span>
                  </span>
                  <span class="gallery__like">
                    <span class="gallery__like-icon">
                      <i class="fas fa-heart"></i>
                    </span>
                    <span class="gallery__like-num">215</span>
                  </span>
                </span>
              </figcaption>
            </a>
            <div class="gallery__share">
              <div class="list gallery__list">
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Like"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="lar la-heart"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Collect"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-plus"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Share"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-share"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="gallery__link">
              <img
                src="assets/images/img-10.jpg"
                alt="image"
                class="gallery__img"
              />
              <figcaption class="gallery__content">
                <span class="gallery__title">
                  Beautiful vintage collage composition
                </span>
                <span class="gallery__footer">
                  <span class="gallery__author">
                    <span class="gallery__user">
                      <img
                        src="assets/images/user-2.jpg"
                        alt="image"
                        class="gallery__user-img"
                      />
                    </span>
                    <span class="gallery__user-name">Gates</span>
                  </span>
                  <span class="gallery__like">
                    <span class="gallery__like-icon">
                      <i class="fas fa-heart"></i>
                    </span>
                    <span class="gallery__like-num">215</span>
                  </span>
                </span>
              </figcaption>
            </a>
            <div class="gallery__share">
              <div class="list gallery__list">
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Like"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="lar la-heart"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Collect"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-plus"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Share"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-share"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="gallery__link">
              <img
                src="assets/images/img-11.jpg"
                alt="image"
                class="gallery__img"
              />
              <span class="gallery__premium">
                <i class="las la-crown"></i>
              </span>
              <figcaption class="gallery__content">
                <span class="gallery__title">
                  Beautiful vintage collage composition
                </span>
                <span class="gallery__footer">
                  <span class="gallery__author">
                    <span class="gallery__user">
                      <img
                        src="assets/images/user-3.jpg"
                        alt="image"
                        class="gallery__user-img"
                      />
                    </span>
                    <span class="gallery__user-name">Asad</span>
                  </span>
                  <span class="gallery__like">
                    <span class="gallery__like-icon">
                      <i class="fas fa-heart"></i>
                    </span>
                    <span class="gallery__like-num">215</span>
                  </span>
                </span>
              </figcaption>
            </a>
            <div class="gallery__share">
              <div class="list gallery__list">
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Like"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="lar la-heart"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Collect"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-plus"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Share"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-share"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="gallery__link">
              <img
                src="assets/images/img-12.jpg"
                alt="image"
                class="gallery__img"
              />
              <figcaption class="gallery__content">
                <span class="gallery__title">
                  Beautiful vintage collage composition
                </span>
                <span class="gallery__footer">
                  <span class="gallery__author">
                    <span class="gallery__user">
                      <img
                        src="assets/images/user-1.jpg"
                        alt="image"
                        class="gallery__user-img"
                      />
                    </span>
                    <span class="gallery__user-name">Shayon</span>
                  </span>
                  <span class="gallery__like">
                    <span class="gallery__like-icon">
                      <i class="fas fa-heart"></i>
                    </span>
                    <span class="gallery__like-num">215</span>
                  </span>
                </span>
              </figcaption>
            </a>
            <div class="gallery__share">
              <div class="list gallery__list">
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Like"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="lar la-heart"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Collect"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-plus"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Share"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-share"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="gallery__link">
              <img
                src="assets/images/img-13.jpg"
                alt="image"
                class="gallery__img"
              />
              <span class="gallery__premium">
                <i class="las la-crown"></i>
              </span>
              <figcaption class="gallery__content">
                <span class="gallery__title">
                  Beautiful vintage collage composition
                </span>
                <span class="gallery__footer">
                  <span class="gallery__author">
                    <span class="gallery__user">
                      <img
                        src="assets/images/user-3.jpg"
                        alt="image"
                        class="gallery__user-img"
                      />
                    </span>
                    <span class="gallery__user-name">Ovik</span>
                  </span>
                  <span class="gallery__like">
                    <span class="gallery__like-icon">
                      <i class="fas fa-heart"></i>
                    </span>
                    <span class="gallery__like-num">215</span>
                  </span>
                </span>
              </figcaption>
            </a>
            <div class="gallery__share">
              <div class="list gallery__list">
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Like"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="lar la-heart"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Collect"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-plus"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Share"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-share"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="gallery__link">
              <img
                src="assets/images/img-14.jpg"
                alt="image"
                class="gallery__img"
              />
              <span class="gallery__premium">
                <i class="las la-crown"></i>
              </span>
              <figcaption class="gallery__content">
                <span class="gallery__title">
                  Beautiful vintage collage composition
                </span>
                <span class="gallery__footer">
                  <span class="gallery__author">
                    <span class="gallery__user">
                      <img
                        src="assets/images/user-2.jpg"
                        alt="image"
                        class="gallery__user-img"
                      />
                    </span>
                    <span class="gallery__user-name">Ronin</span>
                  </span>
                  <span class="gallery__like">
                    <span class="gallery__like-icon">
                      <i class="fas fa-heart"></i>
                    </span>
                    <span class="gallery__like-num">215</span>
                  </span>
                </span>
              </figcaption>
            </a>
            <div class="gallery__share">
              <div class="list gallery__list">
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Like"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="lar la-heart"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Collect"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-plus"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Share"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-share"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="gallery__link">
              <img
                src="assets/images/img-15.jpg"
                alt="image"
                class="gallery__img"
              />
              <figcaption class="gallery__content">
                <span class="gallery__title">
                  Beautiful vintage collage composition
                </span>
                <span class="gallery__footer">
                  <span class="gallery__author">
                    <span class="gallery__user">
                      <img
                        src="assets/images/user-1.jpg"
                        alt="image"
                        class="gallery__user-img"
                      />
                    </span>
                    <span class="gallery__user-name">Feluda</span>
                  </span>
                  <span class="gallery__like">
                    <span class="gallery__like-icon">
                      <i class="fas fa-heart"></i>
                    </span>
                    <span class="gallery__like-num">215</span>
                  </span>
                </span>
              </figcaption>
            </a>
            <div class="gallery__share">
              <div class="list gallery__list">
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Like"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="lar la-heart"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Collect"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-plus"></i>
                  </button>
                </div>
                <div>
                  <button
                    class="gallery__btn"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Share"
                    data-bs-custom-class="custom--tooltip"
                  >
                    <i class="las la-share"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-12">
        <div class="text-center">
          <button class="base-btn">
            VIEW MORE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
