<div class="section--sm">
    <div class="container custom--container">
        <div class="row">
            <div class="col-12">
                <h2 class="section__title">
                    Latest Photo
                </h2>
            </div>
            <div class="col-12">
                <ul class="list list--row flex-wrap gallery">
                    <li>
                        <a href="#" class="gallery__link">
                            <img src="assets/images/img-1.jpg" alt="image" class="gallery__img">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="gallery__link">
                            <img src="assets/images/img-2.jpg" alt="image" class="gallery__img">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="gallery__link">
                            <img src="assets/images/img-3.jpg" alt="image" class="gallery__img">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="gallery__link">
                            <img src="assets/images/img-4.jpg" alt="image" class="gallery__img">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="gallery__link">
                            <img src="assets/images/img-5.jpg" alt="image" class="gallery__img">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="gallery__link">
                            <img src="assets/images/img-6.jpg" alt="image" class="gallery__img">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="gallery__link">
                            <img src="assets/images/img-7.jpg" alt="image" class="gallery__img">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="gallery__link">
                            <img src="assets/images/img-8.jpg" alt="image" class="gallery__img">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="gallery__link">
                            <img src="assets/images/img-9.jpg" alt="image" class="gallery__img">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="gallery__link">
                            <img src="assets/images/img-10.jpg" alt="image" class="gallery__img">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="gallery__link">
                            <img src="assets/images/img-11.jpg" alt="image" class="gallery__img">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="gallery__link">
                            <img src="assets/images/img-12.jpg" alt="image" class="gallery__img">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="gallery__link">
                            <img src="assets/images/img-13.jpg" alt="image" class="gallery__img">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="gallery__link">
                            <img src="assets/images/img-14.jpg" alt="image" class="gallery__img">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="gallery__link">
                            <img src="assets/images/img-15.jpg" alt="image" class="gallery__img">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>