<div class="container custom--container">
  <div class="service-section section--sm section--bottom">
    <div class="section__head">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 col-xl-5 col-xxl-6">
            <h2 class="section__title text-center">
              <span>Stoclab</span> Pro bundle offer
            </h2>
            <p class="mb-0 text-center sm-text section__para mx-auto">
              Whether you’re looking for designs or photographs, you’ll find the
              perfect asset on Stoclab.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row g-4 justify-content-center">
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="service-card">
            <div class="service-card__icon service-card__icon-one">
                <i class="las la-image"></i>
            </div>
            <div class="service-card__content">
              <h5 class="service-card__title">
                Premium Content
              </h5>
              <p class="service-card__text">
                Access our entire photo, element, video and audio library, no extra cost.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="service-card">
            <div class="service-card__icon service-card__icon-two">
                <i class="las la-play-circle"></i>
            </div>
            <div class="service-card__content">
              <h5 class="service-card__title">
                Premium Video
              </h5>
              <p class="service-card__text">
                Create, edit and save premium videos for any platform
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="service-card">
            <div class="service-card__icon service-card__icon-three">
                <i class="las la-snowflake"></i>
            </div>
            <div class="service-card__content">
              <h5 class="service-card__title">
                Background Remover
              </h5>
              <p class="service-card__text">
                Click to remove image backgrounds, perfect for product photos
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="service-card">
            <div class="service-card__icon service-card__icon-four">
                <i class="las la-sync"></i>
            </div>
            <div class="service-card__content">
              <h5 class="service-card__title">
                Instant Animation
              </h5>
              <p class="service-card__text">
                Animate your designs with one click then watch come to life.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
