.custom--accordion {
  .accordion-header {
    margin-top: 0;
  }
  .accordion-item {
    border-radius: 0 !important;
    margin-bottom: 15px;
    background: transparent;
    color: hsl(var(--text));
    border: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .accordion-button {
    padding: 15px 20px;
    border-radius: 3px;
    border: 1px solid hsl(var(--border)/.5);
    background: hsl(var(--light));
    color: hsl(var(--base));
    font-family: var(--body-font);
    font-size: 18px;
    font-weight: 500;
    &:focus {
      border-color: hsl(var(--border));
      box-shadow: none;
    }
    &[aria-expanded="true"] {
      &::after {
        content: "\f068";
      }
    }
    &[aria-expanded="false"] {
      &::after {
        content: "\f067";
      }
    }
    &::after {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-image: initial !important;
      transform: rotate(0deg) !important;
      font-family: "Line Awesome Free";
      font-weight: 900;
      font-size: 24px;
      color: hsl(var(--base));
      line-height: 1;
    }
  }
  .accordion-button:not(.collapsed) {
    border: 1px solid hsl(var(--base));
    background-color: hsl(var(--base));
    background-image: initial !important;
    box-shadow: inset 0 0 0 transparent !important;
    color: hsl(var(--white));
    &::after {
      color: hsl(var(--white));
    }
  }
  .accordion-body {
    margin-top: 15px;
    border-radius: 5px;
    background: hsl(var(--light));
    color: hsl(var(--text));
  }
}
