.input--group {
    .input-group-text {
      display: grid;
      place-items: center;
      padding-inline: 15px;
      position: relative;
      border: 1px solid hsl(var(--base) / 0.3);
      background: hsl(var(--base));
      font-size: 14px;
      font-weight: 500;
      color: hsl(var(--dark));
    }
  }